name: 'zdb'

services:
  postgres:
    image: 'postgres:16-alpine'
    ports: ['127.0.0.1:5432:5432']
    environment:
      'POSTGRES_USER':     'zdb'
      'POSTGRES_PASSWORD': 'zdb'
      'POSTGRES_DATABASE': 'zdb'
