name: 'zdb'

volumes:
  postgres-data: {}

services:
  postgres:
    image:   'postgres:16-alpine'
    ports:   ['127.0.0.1:5432:5432']
    volumes: ['postgres-data:/var/lib/postgresql/data']
    environment:
      'POSTGRES_USER':     'zdb'
      'POSTGRES_PASSWORD': 'zdb'
      'POSTGRES_DATABASE': 'zdb'
