name: 'test'
on:
  pull_request:
    paths: ['**.go', 'go.mod', '.github/workflows/*']
  push:
    branches: ['main']

jobs:
  staticcheck:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'dominikh/staticcheck-action@v1.3.1'
        with: {version: '2025.1'}

  test:
    strategy:
      matrix:
        go: ['1.25.x']
        # Tests don't run on Windows due to \r\n issues in test output. Pfff.
        os: ['ubuntu-latest', 'ubuntu-24.04-arm', 'macos-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'actions/setup-go@v6'
        with:
          go-version: ${{ matrix.go }}
      - shell: 'bash'
        run: |
          go test $race ./...
          cd test
          go test $race ./...
